<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.ico">
    <title>
      {{ block "title" . }}
        {{ .Site.Title }}
      {{ end }}
    </title>
    <script src="/main.js"></script>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <nav class="navbar navbar-light bg-light mb-2">
      <div class="container">
        <a class="navbar-brand mx-auto ml-md-0" href="/"><span class="badge badge-info align-text-bottom">B!</span> {{ .Site.Title }}</a>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="https://kkeisuke.com" target="_blank">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/kkeisuke" target="_blank">GitHub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/kkeisuke" target="_blank">Twitter</a>
            </li>
          </ul>
        </div>
      </div>
      {{ block "main" . }}{{ end }}
    </div>
  </body>
</html>
