<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      {{ block "title" . }}
        {{ .Site.Title }}
      {{ end }}
    </title>
    <script src="/main.js"></script>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand d-block d-sm-none mx-auto" href="/">{{ .Site.Title }}</a>
        <a class="navbar-brand d-none d-sm-block" href="/">{{ .Site.Title }}</a>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="https://kkeisuke.com" target="_blank">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/kkeisuke" target="_blank">GitHub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/kkeisuke" target="_blank">Twitter</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <p>
            {{len .Pages}} days
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          {{ block "main" . }}{{ end }}
        </div>
      </div>
    </div>
  </body>
</html>
