{{ define "main" }}
  {{ .Render "days" }}
  <div class="row">
    <div class="col col-md-8 col-lg-9">
      {{ range first 7 .Site.RegularPages }}
        <div class="card mb-3 mb-md-5">
          <h3 class="card-header">{{ .Title }}</h3>
          <div class="card-body">
            {{ .Content }}
          </div>
        </div>
      {{ end }}
    </div>
    <div class="col col-md-4 col-lg-3">
      <ul class="list-group">
        {{ range first 365 .Site.RegularPages }}
          {{ .Render "li" }}
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-auto">
      <p>
        <a href="/posts">すべてのページを見る</a>
      </p>
    </div>
  </div>
{{ end }}
